<div class="setPassword_page mb-5">
  <div class="container">
    <div class="row">
      <div class="mt-2 mb-2 header ml-4">
        <label>
          <b>Reset your password</b>
        </label>
      </div>
    </div>
  </div>
  <div class="container-fluid section-1">
    <div class="container">
      <div class="form-wrap">
        <div class="set_password">
          <div>
            <p>To reset the password for <b>renuk@clickwt.com,</b> please set the new password in the form below.</p>
          </div>
            <div class=" mt-5 ">
              <form name="setPasswordForm" name="setPasswordForm" [formGroup]="setPasswordForm"
                (ngSubmit)="submitPassword()" >
                <div>
                  <div class="form-label-group">
                    <input type="password" class="form-control" formControlName="password" name="password" id="password"
                      [ngClass]="{'is-invalid' :  submitted && reset_password_form.password.errors}"
                      placeholder="New password" autocomplete="off">
                    <label class="label">New Password</label>
                    <div *ngIf="submitted && reset_password_form.password.errors" class="invalid-feedback">
                      <div *ngIf="reset_password_form.password.errors.required">The New Password field is required</div>
                      <div *ngIf="reset_password_form.password.errors.minlength">{{"AUTHENTICATION_ERROR_10" | translate}}</div>
                    </div>
                  </div>
                </div>
                <div class="clearfix"></div>
                <div>
                  <div class="form-label-group">
                    <input type="password" id="password-field" class="form-control" formControlName="confirm_password"
                      name="confirm_password" id="confirm_password" 
                      [ngClass]="{'is-invalid' :  submitted && reset_password_form.confirm_password.errors}"
                      placeholder="confirm password" autocomplete="off">
                      <label class="label">Confirm password</label>
                      <div *ngIf="submitted && reset_password_form.confirm_password.errors" class="invalid-feedback">
                        <div *ngIf="reset_password_form.confirm_password.errors.required">The Confirm Password field is required</div>
                        <div *ngIf="reset_password_form.confirm_password.errors.mustMatch">The password and the confirmation do not match</div>
                      </div>
                    <!--  <div *ngIf="confirmPassword" class="confirm_password">{{cnfPassword}}</div> -->
                  </div>
                </div>
                <div class="clearfix"></div>
                <div class="btn-group  d-block">
                  <button type="submit" class="btn btn-teritiary">Save password</button>
                </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>