
  <div class="container">
    <div class="form-wrap">
      <div class="set_password">
        <div>
          <h2>Password Recovery</h2>
        </div>
        <div>
          <p>Enter the Email address of your <b>oneworld.com</b> account and then click submit.</p>
        </div>
        <div class="mt-4">
          <form  name="forgotPasswordForm" [formGroup]="forgotPasswordForm" (ngSubmit)="submitEmail()">
            <div>
              <div class="form-label-group">
                <input type="Email" class="form-control" formControlName="email" name="email" id="email" [ngClass]="{'is-invalid' :  submitted && forgot_password_form.email.errors}"
                  placeholder="Email" autocomplete="off">
                <label class="label">Enter Registered Email</label>
                <div *ngIf="submitted && forgot_password_form.email.errors" class="invalid-feedback">
                  <div *ngIf="forgot_password_form.email.errors.required">{{"AUTHENTICATION_ERROR_1" | translate}}</div>
                  <div *ngIf="forgot_password_form.email.errors.email">{{"AUTHENTICATION_ERROR_9" | translate}}</div>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="form-group mt-4">
              <button type="submit" class="btn pswdRecoveryBtn mr-2">Submit</button>
              <button type="button" class="btn btn-default pswdRecoveryBtn close-modal-box" data-dismiss="modal" (click)="changeModal()">Cancel</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
