<!-- <div class="clearfix"></div>
<div class="common-footer-section">
  <div class="container-fluid mt-2 mb-2">
      <img src="../../assets/img/multi_colored_line.jpeg" style="width:100%;">
  </div>

  <div class="container">
      <div class="row">
          <div class="col-sm-12">
              <img src="../../assets/img/airline_logos_2line.jpeg" width="100%"  style="border: 1px solid #e0e0e0;border-radius: 100px;"/>
          </div>
      </div>
  </div>
</div> -->




<div class="clearfix"></div>
<div class="common-footer-section">
 <div class="container-fluid mt-4 mb-2">
    <img src="../../assets/images/multi_colored_line.jpeg" style="width:100%;">
</div>

<div class="container mt-4">
    <div class="row">
        <div class="col-sm-12">
            <img src="../../assets/images/airline_logos_2line.jpeg" width="100%"  style="border: 1px solid #e0e0e0;border-radius: 100px;"/>
        </div>
    </div>
</div>


<div class="clearfix"></div>
<div class="container mt-4">
  <footer>
      <div class="clearfix"></div>
      <div class="row" style="display: inline-block;">
          <ul class="mt-1">
              <li><a href="javascript:;" title="Facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
              <li><a href="javascript:;" title="Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
              <li><a href="javascript:;" title="Google +"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
              <li><a href="javascript:;" title="Linkedin"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
            </ul>
      </div>
      <div class="footer_links pull-right">
          <a href="https://www.oneworld.com/privacy-policy" data-target="_blank">Privacy Policy</a>
        </div>
  </footer>
  </div>
  </div>
  